<app-header></app-header>
<ion-content [fullscreen]="true">
    <!-- search header with id and class for css styling and animation-->
    <h1 class="mysearchheader" #searchheader> What are you looking for?</h1>
    <!-- search bar html learned from (https://ionicframework.com/docs/api/searchbar)-->
    <ion-searchbar placeholder="Search movies/actors" animated="true" debounce="500" (ionInput)="handleInput($event)">
    </ion-searchbar>

    <ion-img
 src="assets/pics/moviecollage.png"
  alt="moviecollageimage"
></ion-img>

<ion-img
 src="assets/pics/othermoviepic.jpg"
  alt="othermovieimage"
></ion-img>



</ion-content>
<app-footer></app-footer>