//changing display of the header, making it italic, centering it, moving it up a bit and adjusting the font 
.mysearchheader {
    font-style: italic;
    text-align: center;
    margin: 10px;
    font-family: Garamond, serif;
    --padding-start: 15px;
}

/* changing the size of the search bar and centering it, adjusting padding so that it doesn't force the header up too much.
resources used:  (https://ionicframework.com/docs/api/searchbar), (https://ionicframework.com/docs/layout/css-utilities) */
ion-searchbar {
    width: 70%;
    margin: 10px auto;
    display: block;
    --padding-start: 5px;
    --padding-end: 5px;
}

.searchexplanation {
    margin-top: -5px;
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}


ion-card {
  width: 50%;
  margin:15px auto;        
  background: white; 
}

ion-card img {
  width: 100%;
  height: auto;
  display: block;
}

.mytrendingheader {
  font-style: italic;
  text-align: center;
  margin: 20px 0;
  font-family: Garamond, serif;
}