<app-header></app-header>

<ion-content [fullscreen]="true">
    <h1 class="favouritesheader"> Your Favourites</h1>
   <div class="favouritemovieanddeleteicon" *ngFor="let movie of favourites">

  <ion-card button (click)="openMovie(movie.id)">
    <div class="movieposterrow">
      <img class="movie-poster" [src]="movie.poster_path
        ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path 
        : '/assets/pics/noimageavailable.png'">
    </div>

    <ion-card-header>
      <ion-card-title>
        <h1>{{movie.title}} ({{movie.release_date}})</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Description: {{movie.overview}}</p>
    </ion-card-content>
  </ion-card>

  <ion-icon 
    class="deletefromfavouritesbutton" 
    name="trash-outline" 
    (click)="deleteFromFavourites(movie)">
  </ion-icon>

</div>
</ion-content>

<app-footer></app-footer>