<!-- the header html component, contains the toolbar the picture(logo), the icons which will be buttons (using start and end 
 to position- https://ionicframework.com/docs/api/input) -->
<ion-header [translucent]="true">
  <ion-toolbar>
 <ion-buttons slot="start">
      <!--html for first icon-dropdown -->
      <ion-button class="mymenubutton">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    <!--html for the left movie icon/button as well as link to favourites (https://ionicframework.com/docs/angular/navigation?)-->
      <ion-button [routerLink]="['/favourites']"  class = "mymoviebutton">
        <ion-icon name="film-outline"></ion-icon>
      </ion-button>
      </ion-buttons>

    <!--html for the logo -->
    <ion-title>
      <img src="assets/pics/Logo.PNG" alt="movie app logo" class="mylogo" />
    </ion-title>

    <!-- html for the right search icon/button -->
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/search']">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
