<app-header></app-header>


<ion-content [fullscreen] = "true">

  <h1 class ="myheader" #trendingheader> What's Trending?</h1>
  <div class = "trendingmovies">
<ion-card *ngFor="let movie of movies" button (click)="openSearchedMovie(movie.id)">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="movie poster"
    />
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>
  </ion-card>
</div>
</ion-content>

<app-footer></app-footer>