.trendingmovies {
  display: block;
}

ion-card {
  width: 50%;
  margin:15px auto;        
  background: white; 
}

ion-card img {
  width: 100%;
  height: 250px;     
  object-fit: cover;
}

.myheader {
  font-style: italic;
  text-align: center;
  margin: 20px 0;
  font-family: Garamond, serif;
}