<app-header></app-header>

<!-- ion content and cards (https://ionicframework.com/docs/api/card)-->
<ion-content [fullscreen]="true" *ngIf="persondetails">
  <h1 class="headers"> {{persondetails.name}}</h1>
  <ion-card>
    <img [src]="persondetails.profile_path
  ? 'https://image.tmdb.org/t/p/w500' + persondetails.profile_path 
  : '/assets/pics/noimageavailable.png'">
    <ion-card-header>
      <ion-card-title>
        <h1> {{persondetails.name}}, (born: {{persondetails.birthday}})</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p> Biography: {{persondetails.biography}}</p>
      <ion-list>

        <ion-item>
          <ion-label><strong>
              <p> Department: {{persondetails.known_for_department}} </p>
            </strong>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>
              <p> Gender: {{persondetails.gender}} </p>
            </strong>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>
              <p> Imbd ID: {{persondetails.imdb_id}} </p>
            </strong>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>
              <p> Birthplace: {{persondetails.place_of_birth}} </p>
            </strong>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>
              <p> Deathday: {{persondetails.deathday}} </p>
            </strong>
          </ion-label>
        </ion-item>



      </ion-list>

    </ion-card-content>

  </ion-card>

  <h1 class="headers"> Movie Credits </h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{persondetails.name}}'s Movie Credits </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let credit of personmoviecredits"   button (click)="openSearchedMovie(credit.id)">
            <ion-thumbnail slot="start">
          <img [src]="credit.poster_path 
            ? 'https://image.tmdb.org/t/p/w500' + credit.poster_path 
            : '/assets/pics/noimageavailable.png'">
        </ion-thumbnail>
          <ion-label>
            <h2>{{credit.title}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
  <h1 class="headers"> TV Credits </h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{persondetails.name}}'s TV Credits </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
       <ion-item *ngFor="let credit of persontvcredits"   >

        <ion-thumbnail slot="start">
          <img [src]="credit.poster_path 
            ? 'https://image.tmdb.org/t/p/w500' + credit.poster_path 
            : '/assets/pics/noimageavailable.png'">
        </ion-thumbnail>
          <ion-label>
            <h2>{{credit.name}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </ion-content>
  <app-footer></app-footer>