.myhomeheader {
    font-style: italic;
    text-align: center;
    margin: 10px;
    font-family: Garamond, serif;
    --padding-start: 15px;
}


.author {
    margin-top: -5px;
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.mytrendingheader {
  font-style: italic;
  text-align: center;
  margin: 20px 0;
  font-family: Garamond, serif;
}

ion-card {
  width: 50%;
  margin:15px auto;        
  background: white; 
}

ion-card img {
  width: 100%;
  height: auto;
  display: block;
}